<div class="container">

<div class="row">
	<div class="panel  panel-info">
		 <div class="panel-heading" style="font-size:30px;">Settings 
		 	<div style="float: right;">
			 	<button ng-click="goBack()" type="button" class="btn btn-default"><span style="color:green; margin-right:2px;margin-left:15px;"class="glyphicon glyphicon-arrow-left"></span>Volver</button>
		 	</div>
		</div> 
		<div class="panel-body" style="padding:20px;padding-left:50px;padding-right:50px;">
		</div> 
	</div> 
</div>
<div class="row">
	<div class="panel  panel-info">
		 <div class="panel-heading" style="font-size:30px;">Settings de Portales</div> 
		 <div class="panel-body" style="padding:20px;padding-left:50px;padding-right:50px;">
				<div class="row">
				<form ng-cloak ng-submit="answer()">
					<div class="form-group row">
		              
		              <div class="col-xs-12">
		                 <md-switch ng-model="options.portales.info" class="md-primary" md-no-ink="" aria-label="Switch No Ink"><b>Información visible</b></md-switch>
		              </div>
		              <div class="col-xs-12">
		                 <md-switch ng-model="options.portales.transacciones" class="md-primary" md-no-ink="" aria-label="Switch No Ink"><b>Mostrar transacciones</b></md-switch>
		              </div>
		              <div class="col-xs-12">
		                 <md-switch ng-model="options.portales.stats" class="md-primary" md-no-ink="" aria-label="Switch No Ink"><b>Mostrar estadísticas</b></md-switch>
		              </div>
		              <div class="col-xs-12">
		                 <md-switch ng-model="options.portales.mensajes" class="md-primary" md-no-ink="" aria-label="Switch No Ink"><b>Enviar mensajes</b></md-switch>
		              </div>
		              <div class="col-xs-12">
		                 <md-switch ng-model="options.portales.documentos" class="md-primary" md-no-ink="" aria-label="Switch No Ink"><b>Mostrar documentos</b></md-switch>
		              </div>
		          </div>
				</form>
				</div> 
			</div> 
		
	</div> 
</div>
</div>