<div class="container">

	<div class="row">
		<div class="panel  panel-info">
			 <div class="panel-heading" style="font-size:30px;">Validar transacciones
			 <div style="float: right;">
				 <button ng-click="goBack()" type="button" class="btn btn-default"><span style="color:green; margin-right:2px;margin-left:15px;"class="glyphicon glyphicon-arrow-left"></span>Volver</button></div>
			 </div>
			 <div class="panel-body"  style="padding:20px;padding-left:50px;padding-right:50px;">
			 	<div class="row" style="background:white;">
						<table st-table="rowCollection" class="table table-striped" >
							<thead>
							<tr>
								<th>Cliente</th>
								<th>Fecha</th>
								<th>Cantidad</th>
								<th>Tipo</th>
								<th>Descripcion</th>
							</tr>
							</thead>
							<tbody>
							<tr ng-repeat="row in rowCollection" ng-class="row.type ==='Ingreso' ? 'esIngreso': 'esGasto'">
								<td >{{row.clientId.name+" "+ row.clientId.surname}}</td>
								<td>{{row.date | date : "dd.MM.y"}}</td>
								<td >{{row.cant}} €</td>
								<td>{{row.type}}</td>
								<td>{{row.desc}}</td>
								<td>
		                		<div class="btn-group">
		                       		<button class="btn btn-default dropdown-toggle" href="#" data-toggle="dropdown">
		                       		<span class="caret"></span>
		                        	</button>
		                        	<ul class="dropdown-menu stay-open pull-right" role="menu">
		                        	<li ng-click="validateTransaction(row)"><a role="menuitem">Validar</a></li>    
		                        	<li ng-click="edittransaction(row)"><a role="menuitem">Editar</a></li> 
		                        	<li ng-click="deleteItem(row)"><a role="menuitem">Eliminar</a></li>   
		                        	</ul>
		                		</div>
		            			</td>	
							</tr>
							</tbody>
						</table>
					<cl-paging flex style="padding:10px;" cl-pages="paging.total" , cl-steps="6" , cl-page-changed="paging.onPageChanged()" , cl-align="center center" , cl-current-page="paging.current"></cl-paging>
						</div>
			</div> 
		</div> 
	</div> 
</div>	

		
