   
   <div class="container">
   		<div class="row">
         <div class="col-sm-3">
            <button ng-click="loadModuleUsers()" type="button" class="btn btn-default btn-xlarge text-center" style="width:200px;"><span class="glyphicon glyphicon-user" style="font-size: 75px;"></span><br>Clientes</button>
         </div>
         <div class="col-sm-3">
               <button ng-click="loadModuleMensajes()"type="button" class="btn btn-default btn-xlarge text-center" style="width:200px;"><span style="font-size: 75px;" class="glyphicon glyphicon-envelope"></span><br>Mensajes</button>
         </div>
         <div class="col-sm-3">
               <button ng-click="loadModuleCalendar()" type="button" class="btn btn-default btn-xlarge text-center" style="width:200px;"><span style="font-size: 75px;" class="glyphicon glyphicon-calendar"></span><br>Calendario</button>
         </div>
         <div class="col-sm-3">
               <button type="button" class="btn btn-default btn-xlarge text-center" style="width:200px;"><span style="font-size: 75px;" class="glyphicon glyphicon-list"></span><br>Opciones</button>
         </div>
      </div>
      <div class="row" style="margin-top:20px;">
         <div class="col-sm-3">
            <button ng-click="loadModulePortal()" type="button" class="btn btn-default btn-xlarge text-center" style="width:200px;"><span class="glyphicon glyphicon-transfer" style="font-size: 75px;"></span><br>Portales</button>
         </div>
         <div class="col-sm-3">
            <button ng-click="" type="button" class="btn btn-default btn-xlarge text-center" style="width:200px;"><span class="glyphicon glyphicon-ok" style="font-size: 75px;"></span><br>Validar</button>
         </div>
         <div class="col-sm-3">
            <button ng-click="" type="button" class="btn btn-default btn-xlarge text-center" style="width:200px;"><span class="glyphicon glyphicon-resize-small" style="font-size: 75px;"></span><br>Comparar</button>
         </div>
         <div class="col-sm-3">
            <button ng-click="" type="button" class="btn btn-default btn-xlarge text-center" style="width:200px;"><span class="glyphicon glyphicon-folder-open" style="font-size: 75px;"></span><br>Informes</button>
         </div>
        
      </div>

      <div class="row" style="margin-top:20px;">
         <div class="col-sm-3">
            <button ng-click="" type="button" class="btn btn-default btn-xlarge text-center" style="width:200px;"><span class="glyphicon glyphicon-wrench" style="font-size: 75px;"></span><br>Administrar</button>
         </div>
        
      </div>
   </div>
	
	