<div class="container">
<div class="container">
  <div class="row">
    <button ng-click="goBack()" type="button" class="btn btn-default"><span style="color:green; margin-right:2px;"class="glyphicon glyphicon-arrow-left"></span>Volver</button>
    <button type="button" class="btn btn-default"><span style="color:green; margin-right:2px;"class="glyphicon glyphicon-plus"></span>Nuevo cita</button>    
</div>
<div class="row"  style="background:white; margin-top:30px; max-width: 930px;">
<div id='calendar' style='background: white; max-width: 900px; margin: 0 auto; padding-top:10px; padding-bottom:15px;'></div>
</div> 
</div>