<div class="container">

<div class="row">
	<div class="panel  panel-info" style="max-width: 950px;">
		 <div class="panel-heading" style="font-size:30px;">Calendario
		 <div style="float: right;">
			 <button ng-click="goBack()" type="button" class="btn btn-default"><span style="color:green; margin-right:2px;margin-left:15px;"class="glyphicon glyphicon-arrow-left"></span>Volver</button> 
			 <button ng-click="newDateModal()" type="button" class="btn btn-default"><span style="color:green; margin-left:5px;"class="glyphicon glyphicon-plus"></span>Nuevo cita</button>
			  <button ng-click="deleteDate()" type="button" class="btn btn-default"><span style="color:green; margin-left:5px;"class="glyphicon glyphicon-remove"></span>Limpiar día</button></div>
		 </div>
		 <div class="panel-body" style="padding:20px;padding-left:50px;padding-right:50px;">
 
			<div class="row">
				<calendar-md id="calendar" flex layout layout-fill
				  calendar-direction="direction"
				  on-prev-month="prevMonth"
				  on-next-month="nextMonth"
				  on-day-click="dayClick"
				  title-format="'MMMM y'"
				  ng-model='selectedDate'
				  week-starts-on="firstDayOfWeek"
				  data-start-month="{{dataStartMonth}}"
				  data-start-year="{{dataStartYear}}"
				  tooltips="tooltips"
				  day-format="dayFormat"
				  day-label-format="'EEE'"
				  day-label-tooltip-format="'EEEE'"
				  day-tooltip-format="'fullDate'"
				  day-content="setDayContent"
				  disable-future-selection="false"
				  ></calendar-md>
			</div> 
		</div> 
</div> 
</div> 
</div>