<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Happ Software</title>

<link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.css" />
<link rel="stylesheet" href="bower_components/angular-material/angular-material.css">
<link href='/js/lib_calendar/fullcalendar.css' rel='stylesheet' />
<link href='/js/lib_calendar/fullcalendar.print.css' rel='stylesheet' media='print' />
<link rel="stylesheet" type="text/css" href="css/main.css" />

</head>
<body ng-app="app">
	<div  ng-controller="appController">
		<header id="header" ng-if="isLogged">
			<nav class="navbar navbar-light bg-faded" style="background: white;border-radius:0px;">
			  <a class="navbar-brand" ng-href="#/main">Happ Software.</a>
			  <ul class="nav navbar-nav">
			    <li class="nav-item active">
			      <a class="nav-link" ng-href="#/main">Home <span class="sr-only">(current)</span></a>
			    </li>
			    <li class="nav-item">
			      <a class="nav-link" ng-href="#/main" >Perfil</a>
			    </li>
			    <li class="nav-item">
			      <a class="nav-link" ng-href="#/main">Soporte</a>
			    </li>
			    <li class="nav-item"><a ng-click="closeSesion()">Salir</a></li>
			    </ul>
			</nav>
		</header>

	
		<div ng-view></div>
	
		<footer class="navbar navbar-fixed-bottom" style="background: white;border-radius:0px;">
			<div class="container" >
 				Happ. Copyright &copy; 2016. Jesús Juan Aguilar [<a href="mailto:jesusjuanaguilar@gmail.com">jesusjuanaguilar@gmail.com</a>]
			</div>
			
		</footer>
	</div>

	<script type="text/javascript" src="bower_components/jquery/dist/jquery.min.js"></script>
	<script type="text/javascript" src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
	<script type="text/javascript" src="bower_components/angular-route/angular-route.min.js"></script>
	<script type="text/javascript" src="bower_components/angular-smart-table/dist/smart-table.min.js"></script>
	<script src="bower_components/material-angular-paging/build/dist.min.js"></script>

	<script src="bower_components/angular-aria/angular-aria.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-material/angular-material.js"></script>
    <script src="bower_components/angular-messages/angular-messages.min.js"></script>
    <script src='/js/lib_calendar/moment.min.js'></script>
    <script src='/js/lib_calendar/fullcalendar.min.js'></script>
    <script type="text/javascript" src="js/shared.js"></script>
	
	<script type="text/javascript" src="app.js"></script>
    <script type="text/javascript" src="js/angular.service.js"></script>
	<script type="text/javascript" src="view/login/login.module.js"></script>
	<script type="text/javascript" src="view/main/main.module.js"></script>
	<script type="text/javascript" src="view/users/users.module.js"></script>
	<script type="text/javascript" src="view/calendar/calendar.module.js"></script>
	<script type="text/javascript" src="view/client/client.module.js"></script>
	<script type="text/javascript" src="view/mensajes/mensajes.module.js"></script>
	<script type="text/javascript" src="view/stats/stats.module.js"></script>
</body>
</html>